<div class="row">
  <div class="col-md-12">
    <h2>Health Check for <%= @score_card.agile_team.name %></h2>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>Question</th>
        <th>Answer</th>
      </tr>
      </thead>
      <tbody>
      <% @score_card_answers.each do |score_card_answer| %>
        <tr>
          <td><%= score_card_answer.question.title %></td>
          <% if score_card_answer.score == "Green" %>
            <td class="success"></td>
          <% elsif score_card_answer.score == "Yellow" %>
            <td class="warning"></td>
          <% elsif score_card_answer.score == "Red" %>
            <td class="danger"></td>
        <% end %>
         </tr>
      <% end %>
      </tbody>
    </table>
  
    <br>
    <%= link_to 'Edit answers', edit_score_card_path(@score_card) %>
    <br>
    <br>
    <%= link_to 'Destroy health check', @score_card, method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
</div>