<div class="row">
  <div class="col-md-12">
    <h2><%= @agile_team.name %> - Last 5 Health Checks</h2>
  </div>
</div>
<br>

<div class="row ">
  <div class="col-md-8">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>Health Check Questions</th>
        <% (@score_card_count - 1).times.each do |_sc| %>
          <th>Health Level</th>
        <% end %>
      </tr>
      </thead>
      
   
      <tbody>
      <% counter = 0 %>
      <% @question_count.times.each do |count| %>
        <tr>
          <% @score_card_count.times.each do |scc| %>
            <td class="<%= td_color(@answers[counter+scc][count])%>"><%= @answers[counter+scc][count] %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
      
    </table>
  </div>
</div>