<div class="row">
  <div class="col-md-12">
    <h2><%= @agile_team.name %> - Last <%= @report.score_card_count - 1 %> Health Checks</h2>
  </div>
</div>
<br>

<div class="row ">
  <div class="col-md-8">
    <table class="table table-hover table-striped">
      <thead>
      <tr>
        <th>Health Check Questions</th>
        <% (@report.score_card_count - 1).times.each do |_sc| %>
          <th>Health Level</th>
        <% end %>
      </tr>
      </thead>
      
      <tbody>
      <% column_counter = 0 %>
      <% @report.question_count.times.each do |count| %>
        <tr>
          <% @report.score_card_count.times.each do |scc| %>
            <td class="<%= td_color(@report.answers[column_counter+scc][count])%>"><%= @report.answers[column_counter+scc][count] %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>