// Place all the styles related to the AgileTeams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.score_card_listing {
  padding-top:20px;
}

.green-text {
  color: limegreen;
}

.yellow-text {
  color: #CCCC00;
}

.red-text {
  color: red;
}